<div class="page-header">
    <h1>
        <a href="#">Forum</a> - {{sub_forum.name}}
    </h1>
</div>
<div class="pages" ng-if="sub_forum.forum_threads.length / 10 > 1">
    <!-- Displays the current page and pages that can currently be navigated to -->
    Page {{current_page}}
    (<span ng-repeat="n in threadsArray(sub_forum) track by $index">
        <a ng-if="n != current_page && n != '...'" href="#/sub_forums/{{sub_forum._id}}/{{n}}">{{n}}</a>
        <span ng-if="n == current_page || n == '...'">{{n}}</span>
    </span>)
</div>
<md-toolbar layout="row" class="md-hue-3">
    <!-- Headings for the list of topics -->
    <div class="md-toolbar-tools">
        <span id="forumTitle" layout="row" flex-gt-sm="100" flex>
            <div flex-gt-sm="30" layout="column" flex>
                Topic
            </div>
            <div flex-gt-sm="20" layout="column" flex>
                Posts
            </div>
            <div flex-gt-sm="25" layout="column" flex>
                Started On
            </div>
            <div flex-gt-sm="25" layout="column" flex>
                Last Post
            </div>
        </span>
    </div>
</md-toolbar>
<md-content layout="row" flex-gt-sm="100" flex>    
    <md-list flex-gt-sm="30" layout="column" flex>        
        <md-list-item class="md-3-line" ng-repeat="forum_thread in forum_threads">
            <!-- Display the thread title with user name and page naviagation, linked to the thread -->
            <div class="md-list-item-text" layout="column">
                <h3><a href="#/sub_forums/{{sub_forum._id}}/forum_threads/{{forum_thread._id}}/1">{{forum_thread.subject}}</a></h3>
                <h4>by <a href="#/users_admin/user/{{forum_thread.user._id}}">{{forum_thread.user.username}}</a></h4>
                <p>
                    <div ng-if="forum_thread.posts.length / 10 > 1">
                        <span ng-repeat="n in pagesArray(forum_thread)">
                            <a href="#/sub_forums/{{sub_forum._id}}/forum_threads/{{forum_thread._id}}/{{n}}">{{n}}</a>
                        </span>
                    </div>
                </p>
            </div>
        </md-list-item>
    </md-list>
    <md-list flex-gt-sm="20" layout="column" flex>
        <md-list-item class="md-2-line" ng-repeat="forum_thread in forum_threads">
            <!-- Display the number of posts in the thread -->
            <div class="md-list-item-text" layout="column">
                <h3>{{forum_thread.posts.length}}</h3>        
            </div>
        </md-list-item>
    </md-list>
    <md-list flex-gt-sm="25" layout="column" flex>
        <md-list-item class="md-2-line" ng-repeat="forum_thread in forum_threads">
            <!-- Display the time of creation for the thread -->
            <div class="md-list-item-text" layout="column">
                <h3>{{forum_thread.created_at}}</h3>        
            </div>
        </md-list-item>
    </md-list>
    <md-list flex-gt-sm="25" layout="column" flex>
        <md-list-item class="md-2-line" ng-repeat="forum_thread in forum_threads">
            <!-- Display the time of the last post in the thread -->
            <div class="md-list-item-text" layout="column">
                <h3>{{forum_thread.last_post_time}}</h3>
            </div>
        </md-list-item>
    </md-list>
</md-content>
<div class="pages" ng-if="sub_forum.forum_threads.length / 10 > 1">
    <!-- Displays the current page and pages that can currently be navigated to -->
    Page {{current_page}}
        (<span ng-repeat="n in threadsArray(sub_forum) track by $index">
            <a ng-if="n != current_page && n != '...'" href="#/sub_forums/{{sub_forum._id}}/{{n}}">{{n}}</a>
            <span ng-if="n == current_page || n == '...'">{{n}}</span>
        </span>)
</div>
<md-content layout-padding ng-if="isLoggedIn()">
    <form ng-submit="addThread()" name="postThread">
        <!-- Form for creating a new thread and the first post -->
        <div class="row">
            <div class="postLabel col-md-6 col-md-offset-3">
                Start a new topic!
            </div>
        </div>
        <div class="row">      
            <md-input-container class="col-md-6 col-md-offset-3">
                <label>Topic</label>
                <input name="topic" ng-model="thread.topic">
            </md-input-container>
        </div>
        <div class="row">      
            <md-input-container class="col-md-6 col-md-offset-3">        
                <label>Post</label>
                <textarea rows="5" name="newThreadPost" ng-model="thread.post"></textarea>
            </md-input-container>
        </div>
        <div class="row">   
            <div class="col-md-offset-3">
                <md-button type="submit">Post</md-button>
            </div>
        </div>
    </form>
</md-content>
  		