<div class="user-page-header col-md-6">
	<!-- Only show avatar if user has entered one -->
	<h1 id="userHeader"><img ng-if="hasAvatar()" src="{{user.avatar}}" class="userAvatar" width="150"></img>  {{user.username}}</h1>
</div>
<!-- Table for profile information for the current user -->
<table class="col-md-6 col-md-offset-3 userInfo">
	<tr ng-if="user.website">
		<td class="col-md-4"> 
			<span class="tableElementWrapper">Website URL:</span>
		</td>
		<td>
			<span class="tableElementWrapper"><a href="{{user.website}}">{{user.website}}</a></span>
		</td>
	</tr>
	<tr ng-if="user.facebook">
		<td class="col-md-4">
			<span class="tableElementWrapper">Facebook URL:</span>
		</td>
		<td>
			<span class="tableElementWrapper"><a href="{{user.facebook}}">{{user.facebook}}</a></span>
		</td>
	</tr>
	<tr ng-if="user.twitter">
		<td class="col-md-4">
			<span class="tableElementWrapper">Twitter URL:</span>
		</td>
		<td>
			<span class="tableElementWrapper"><a href="{{user.twitter}}">{{user.twitter}}</a></span>
		</td>
	</tr>
	<tr ng-if="user.linked_in">
		<td class="col-md-4">
			<span class="tableElementWrapper">LinkedIn URL:</span>
		</td>
		<td>
			<span class="tableElementWrapper"><a href="{{user.linked_in}}">{{user.linked_in}}<span>
		</td>
	</tr>
	<tr ng-if="user.location">
		<td class="col-md-4">
			<span class="tableElementWrapper">Location:</span>
		</td>
		<td>
			<span class="tableElementWrapper">{{user.location}}</span>
		</td>
	</tr>
	<tr ng-if="user.occupation">
		<td class="col-md-4">
			<span class="tableElementWrapper">Occupation:</span>
		</td>
		<td>
			<span class="tableElementWrapper">{{user.occupation}}</span>
		</td>
	</tr>
	<tr ng-if="user.interests">
		<td class="col-md-4">
			<span class="tableElementWrapper">Interests:</span>
		</td>
		<td>
			<span class="tableElementWrapper">{{user.interests}}</span>
		</td>
	</tr>
	<tr ng-if="user.birthday">
		<td class="col-md-4">
			<span class="tableElementWrapper">Birthdate:</span>
		</td>
		<td>
			<span class="tableElementWrapper">{{user.birthday.toDateString()}}</span>
		</td>
	</tr>
	<tr ng-if="user.signature">
		<td class="col-md-4">
			<span class="tableElementWrapper">Signature:</span>
		</td>
		<td>
			<span class="tableElementWrapper">{{user.signature}}</span>
		</td>
	</tr>
	<tr>
		<td class="col-md-4">
			<span class="tableElementWrapper">Posts:</span>
		</td>
		<td>
			<span class="tableElementWrapper">{{user.postCount}}</span>
		</td>
	</tr>
	<tr>
		<td class="col-md-4">
			<span class="tableElementWrapper">Joined:</span>
		</td>
		<td>
			<span class="tableElementWrapper">{{user.created_at}}</span>
		</td>
	</tr>
</table>
	

