<div class="page-header">
	<h1>Register</h1>
</div>

<md-content layout-padding>
<form ng-submit="register()" name="registerForm">
		
				<div class="row">
				<md-input-container class="col-md-4">
				<label>Email</label>
				<input md-maxlength="40" required name="email" ng-change="clearError()" ng-pattern="/^.+@.+\..+$/" ng-model="user.email">
				<div ng-messages="registerForm.email.$error" multiple md-auto-hide="false">
					<p class="errorMessages" ng-repeat="message in emailResponses">{{message}}</p>
					<div ng-message="required">Required.</div>
					<div ng-message="md-maxlength">Email must be less than 40 characters long.</div>
					<div ng-message="pattern">Email must look like an email address</div>
				</div>
				</md-input-container>
		
		
				<md-input-container class="col-md-4">
				<label>Username</label>				
				<input md-maxlength="30" required name="username" ng-change="clearError()" ng-model="user.username">
				<div ng-messages="registerForm.username.$error" multiple md-auto-hide="false">
					<p class="errorMessages" ng-repeat="message in usernameResponses">{{message}}</p>
					<div ng-message="required">Required.</div>
					<div ng-message="md-maxlength">Username must be less than 30 characters long.</div>
				</div>
				</md-input-container>
				</div>
		
				<div class="row">
				<md-input-container class="col-md-4">
				<label>Password</label>
				<input type="password" minlength="8" md-maxlength="30" required name="password" ng-model="user.password">
				<div ng-messages="registerForm.password.$error" multiple md-auto-hide="false">					
					<div ng-message="required">Required.</div>
					<div ng-message="md-maxlength">Password must be less than 30 characters long.</div>
					<div ng-message="minlength">Password must be at least 8 characters long.</div>
				</div>
				</md-input-container>				
				
				<md-input-container class="col-md-4">
				<label>Birthdate</label>
					<md-datepicker ng-model="user.birthday"></md-datepicker>
				</md-input-container>
				</div>
			
				<div class="row">
				<md-input-container class="col-md-4">
				<label>Website URL</label>
				<input name="website" type="url" ng-model="user.website">
				<div ng-messages="registerForm.website.$error" md-auto-hide="false">
					<div ng-message="url">Not a valid URL. Must begin with http://</div>
				</div>				
				</md-input-container>				
			
			
				<md-input-container class="col-md-4">
				<label>Facebook URL</label>
				<input name="facebook" type="url" ng-model="user.facebook">
				<div ng-messages="registerForm.facebook.$error" md-auto-hide="false">
					<div ng-message="url">Not a valid URL. Must begin with http://</div>
				</div>				
				</md-input-container>								
				
				<md-input-container class="col-md-4">
				<label>Twitter URL</label>
				<input name="twitter" type="url" ng-model="user.twitter">
				<div ng-messages="registerForm.twitter.$error" md-auto-hide="false">
					<div ng-message="url">Not a valid URL. Must begin with http://</div>
				</div>				
				</md-input-container>
				</div>

				<div class="row">
				<md-input-container class="col-md-4">
				<label>LinkedIn URL</label>
				<input name="linked_in" type="url" ng-model="user.linked_in">
				<div ng-messages="registerForm.linked_in.$error" md-auto-hide="false">
					<div ng-message="url">Not a valid URL. Must begin with http://</div>
				</div>				
				</md-input-container>				
			
				<md-input-container class="col-md-4">
				<label>Location</label>
				<input name="location" ng-model="user.location">				
				</md-input-container>								
				
				<md-input-container class="col-md-4">
				<label>Occupation</label>
				<input name="occupation" ng-model="user.occupation">				
				</md-input-container>
				</div>
					
				<div class="row col-md-12">	
				<div class="column col-md-6">
				<div class="row">
				<md-input-container class="col-md-12">
				<label>Interests</label>
				<textarea md-maxlength="150" rows="3" name="interests" ng-model="user.interests">List your interests and hobbies!</textarea>		
				<div ng-messages="registerForm.interests.$error">
					<div ng-message="md-maxlength">Interests must be less than 150 characters long.</div>
				</div>		
				</md-input-container>
				</div>

				<div class="row">
				<md-input-container class="col-md-12">
				<label>Signature</label>
				<textarea md-maxlength="150" rows="5" name="signature" ng-model="user.signature">Create a signature!</textarea>
				<div ng-messages="registerForm.signature.$error">
					<div ng-message="md-maxlength">Signature must be less than 150 characters long.</div>
				</div>
				</md-input-container>
				</div>
				</div>				

				<div class="column col-md-6 col-offset-6">
				<div class="row">
				<md-input-container class="col-md-12">
				<label>Avatar URL</label>
				<input name="avatar" type="url" ng-model="user.avatar">
				<div ng-messages="registerForm.avatar.$error" md-auto-hide="false">
					<div ng-message="url">Not a valid URL. Must begin with http://</div>
				</div>				
				</md-input-container>
				</div>

				<div class="avatarPreview row col-md-12" ng-if="hasAvatar()">
				<h4>Preview</h4>
				<img src="{{user.avatar}}" height="150">
				</div>					
				</div>
			</div>

				<div class="row">		
					<md-button type="submit" ng-click="showError()">Register</md-button>										
				</div>
		
		
		
	
</form>
</md-content>



