/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require bootstrap-social/bootstrap-social
 *= require components-font-awesome/css/font-awesome
 *= require_tree .
 *= require_self
 */

@import 'https://fonts.googleapis.com/css?family=Baloo+Da';

table, th, tr, td {
	border: 1px solid black;
}

table, tr {
	height: 100%;
}

.tableElementWrapper {
  margin: 5px;
  margin-bottom: 15px;
}

.centeredCell {
  text-align: center;
} 

#forumListContainer {
	
	background-color: #F7E7CE;
}

#threadContainer {
	background-color: #F7E7CE;
}

#forumName {
	margin: 5px;
	margin-bottom: 15px;
}

#postContainer {
	height: 33vh;
	vertical-align: top;
	background-color: #F7E7CE;	
}

#avatarContainer {
	vertical-align: middle;

}

#avatar {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: auto;
	width: 15vw;
}

#timeStamp {
	margin-top: 5px;
}

#socialMedia {
	margin-bottom: 5px;
}

#userName {
	font-family: 'Baloo Da', cursive; 
	font-size: 200%;
}

#voting {
	
}

